.Card {
  border: 2px solid #000000;
  text-align: center;
  width: 75px;
  height: 110px;
	margin-left: 20px;
	margin-top: 20px;
}

.red {
  color: red;
}

.Card div {
  margin: 0px auto;
  width: 75px;
  height: 55px;
  font-size: 40px;
}

.open {
}

.back {
	background-color: gray;
}

.clear {
  visibility: hidden;
}

